<section class="popplight">
  <section class="mt-[-15px]">
    <div class="lg:hidden block ml-[12px] flex-row"></div>

    <mat-toolbar
      class="h-[100px] flex lg:fixed 2xl:mt-[-16rem] xl:mt-[-16rem] lg:mt-[-13rem] lg:z-10"
      style="background: rgba(255, 255, 255, 0.5)"
    >
      <button
        data-aos="fade-down-right"
        data-aos-duration="900"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <a href="#inicio"><img src="assets/img/Frame.png" alt="" /></a>
      </button>
      <span>ㅤ</span>
      <span>
        <div class="flex textleft">
          <div data-aos="fade-down-right" data-aos-duration="1000">S</div>
          <div data-aos="fade-down-right" data-aos-duration="1050">o</div>
          <div data-aos="fade-down-right" data-aos-duration="1100">l</div>
          <div data-aos="fade-down-right" data-aos-duration="1150">u</div>
          <div data-aos="fade-down-right" data-aos-duration="1200">c</div>
          <div data-aos="fade-down-right" data-aos-duration="1250">i</div>
          <div data-aos="fade-down-right" data-aos-duration="1300">o</div>
          <div data-aos="fade-down-right" data-aos-duration="1350">n</div>
          <div data-aos="fade-down-right" data-aos-duration="1400">a</div>
          <div data-aos="fade-down-right" data-aos-duration="1450">t</div>
          <div data-aos="fade-down-right" data-aos-duration="1500">i</div>
          <div data-aos="fade-down-right" data-aos-duration="1550">c</div>
          <div data-aos="fade-down-right" data-aos-duration="1600">a</div>
        </div>
      </span>
      <span class="example-spacer"></span>
      <div class="hidden lg:block">
        <a mat-button href="#quehacemos">¿Qué hacemos?</a>

        <a mat-button href="#comolohacemos">Proceso</a>

        <a mat-button href="#servicios"> Servicios</a>

        <button
          mat-button
          onclick="window.location.href='#contacto'"
          style="
            background: linear-gradient(
              180deg,
              #082cec 0%,
              rgba(97, 0, 255, 0.6) 100%
            );
            border-radius: 12px;
            width: 221px;
            height: 60px;
            color: #ffffff;
          "
        >
          <a href="#contacto">Conversemos</a>
        </button>
      </div>
    </mat-toolbar>
  </section>

  <section class="px-4" id="inicio">
    <div
      class="relative flex flex-col 2xl:ml-[300px] xl:ml-[100px] lg:ml-[60px] md:ml-[20px] mt-[-6.5rem] md:mt-[3rem] lg:mt-[220px] xl:mt-[270px] 2xl:mt-[268px] text-[24px] lg:text-[34px] xl:text-[46px] 2xl:text-[56px] lg:w-[470px] w-[340px] xl:w-[618px] 2xl:w-[728px] lg:mb-[22rem] mb-[165px]"
    >
      <lottie-player
        class="lg:hidden block md:absolute w-[171px] md:w-[271px] h-[321px] mt-[25px] md:mt-[-3rem] mb-[16px] ml-[80px] md:ml-[28rem]"
        src="https://assets6.lottiefiles.com/packages/lf20_zfbyxadx.json"
        background="transparent"
        speed="1"
        loop
        autoplay
      ></lottie-player>

      <lottie-player
        data-aos="fade-right"
        data-aos-duration="700"
        class="lg:block hidden lg:absolute lg:ml-[41rem] 3xl:ml-[50rem] 2xl:ml-[40rem] xl:ml-[43rem] lg:ml-[28rem] xl:mt-[-14rem] lg:mt-[-12rem] mt-[25px] lg:w-[392px] lg:h-[498px] xl:w-[442px] xl:h-[598px] 2xl:w-[542px] 2xl:h-[698px] mb-[16px] lg:mb-[0px]"
        src="https://assets6.lottiefiles.com/packages/lf20_zfbyxadx.json"
        background="transparent"
        speed="1"
        loop
        autoplay
      ></lottie-player>

      <h2 data-aos="fade-up">
        Diseñamos, Construimos y gestionamos soluciones digitales | Solucionática
      </h2>

      <p
        class="2xl:text-[19px] xl:text-[15px] lg:text-[12px] text-[12.5px] lg:mb-[20px] mb-[18px] mt-[10px]"
        data-aos="fade-up"
      >
        Ayudamos a las organizaciones a desplegar sus iniciativas digitales de
        una forma eficiente y rápida. Si tienes un digital mindset y necesitas
        construir soluciones innovadoras, llevamos tus desafíos a la realidad.
      </p>
      <button
        mat-raised-button
        class="lg:w-[221px] h-[60px] lg:mt-[0px] w-full text-[14.5px] text-white"
        style="
          background: linear-gradient(
            180deg,
            #082cec 0%,
            rgba(97, 0, 255, 0.6) 100%
          );
          border-radius: 12px;
        "
        onclick="window.location.href='#contacto'"
      >
        Conversemos
      </button>
    </div>
  </section>

  <section class="bg-[#110D25] w-[100%] text-white px-4">
    <div class="w-full">


      <div class="justify-center flex relative">
        <!--
        <img
          class="hidden lg:block mt-[124px] w-[934px] h-[558px]"
          src="assets/img/logo-youtube.png"
          alt=""
        />
        <img
          class="lg:hidden block mt-[33px] md:mt-20"
          src=" assets/img/Img-yt-responsive.png"
          alt=""
        />
        -->
      </div>

      <div id="quehacemos">
        <p
          data-aos="fade-up"
          class="md:justify-center flex relative text-white mt-[89px] lg:mt-[177px] 2xl:text-[56px] xl:text-[45px] lg:text-[38px] text-[38px]"
        >
          ¿Qué hacemos?
        </p>
        <div
          class="flex flex-col lg:flex-row justify-center relative h-[86px] xl:space-x-[5rem] lg:space-x-[6rem] lg:px-[15rem] lg:mt-40 mt-[700px] text-white lg:text-[14px] md:text-[14px] text-[12.5px]"
        >
          <div class="lg:border-t-2 border-t-2 md:mt-[5rem] lg:mt-[0px]">
            <p
              class="2xl:w-[336px] xl:w-[295px] w-[295px] lg:w-[215px] md:w-[100%] 2xl:h-[86px] xl:h-[78px] mt-[32px]"
              data-aos="fade-down"
            >
              Descubrimos en conjunto, con tu equipo, la hoja de ruta ideal para
              que optimices y transformes tu negocio a partir de tecnología como
              inteligencia artificial, cloud computing, analytics, IoT entre
              muchas otras.
            </p>
            <img
              class="lg:hidden block 2xl:mt-[73px] lg:mt-[65px] mt-[65px] md:ml-[200px] w-[294px] h-[231px]"
              src="assets/img/quehacemosrespon-1.png"
              alt=""
            />
            <img
              data-aos="fade-up"
              class="hidden lg:block 2xl:mt-[77px] xl:mt-[130px] lg:mt-[63px] mt-[65px]"
              src="assets/img/quehacemos-1.png"
              alt=""
            />
          </div>
          <div class="border-t-2 mt-[32px] lg:mt-[0px]">
            <p
              class="2xl:w-[458px] xl:w-[295px] w-[295px] lg:w-[215px] 2xl:h-[43px] mt-[32px] md:w-[100%]"
              data-aos="fade-down"
            >
              Creamos nuevas soluciones cloud y migramos las ya existentes, con
              las tecnologías de avanzada que mejoren la digitalización de tu
              negocio, con los costos óptimos y bajo control en todo momento.
            </p>
            <img
              class="lg:hidden block 2xl:mt-[114px] lg:mt-[95px] mt-[65px] md:ml-[200px] w-[294px] h-[303px]"
              src="assets/img/quehacemosrespon2.png"
              alt=""
            />
            <img
              data-aos="fade-up"
              class="hidden lg:block 2xl:mt-[118px] lg:mt-[85px] mt-[65px]"
              src="assets/img/quehacemos-2.png"
              alt=""
            />
          </div>
          <div class="border-t-2 mt-[32px] lg:mt-[0px]">
            <p
              data-aos="fade-down"
              class="2xl:w-[337px] xl:w-[295px] lg:w-[215px] w-[295px] 2xl:h-[81px] mt-[32px] md:w-[100%]"
            >
              Conectamos tus datos, sistemas y sensores con tecnología graph, lo
              que permite tener operaciones más dinámicas y la capacidad para
              realizar analytics y capturar insights desde el inicio, sin tener
              que implementar complejos proyectos de data.
            </p>
            <img
              class="lg:hidden block 2xl:mt-[78px] lg:mt-[65px] mt-[65px] md:ml-[200px]"
              src="assets/img/quehacemosrespon3.png"
              alt=""
            />
            <img
              data-aos="fade-up"
              class="hidden lg:block 2xl:mt-[78px] xl:mt-[65px] lg:mt-[20px] mt-[65px]"
              src="assets/img/quehacemos-3.png"
              alt=""
            />
          </div>
        </div>
      </div>

      <div id="comolohacemos">
        <div
          class="lg:block hidden mt-[896px] text-white ml-[130px] xl:ml-[100px] lg:ml-[50px]"
        >
          <div class="relative">
            <img
              data-aos="fade-down"
              class="absolute 3xl:ml-[750px] 2xl:ml-[580px] xl:ml-[520px] lg:ml-[480px] xl:mt-[-70px] lg:mt-[1px] 2xl:w-[790px] xl:w-[590px] lg:w-[390px] lg:h-[214px] 2xl:h-[414px] xl:h-[304px]"
              src="assets/img/cubo-devalores.png"
              alt=""
            />
            <div>
              <p
                class="xl:text-[60px] lg:text-[50px] w-[430px]"
                data-aos="fade-right"
              >
                ¿Cómo lo hacemos?
              </p>
              <p class="xl:text-[20px] lg:text-[15px]" data-aos="fade-up">
                Nuestros valores guían cómo trabajamos:
              </p>
            </div>
          </div>
        </div>

        <div
          class="block lg:hidden mt-[896px] text-white flex flex-col md:ml-[11.5rem]"
        >
          <div class="">
            <div class="">
              <p class="text-[24px] md:text-[38px] w-[250px] md:w-[400px]">
                ¿Cómo lo hacemos?
              </p>
              <p class="text-[14.5px] md:text-[20px] w-[293px]">
                Nuestros valores guían cómo trabajamos:
              </p>
            </div>
            <img
              class="mt-[116px] ml-[50px] md:ml-[5rem] md:mt-[5rem]"
              src="assets/img/Cubo-Valores-Responsive.png"
              alt=""
            />
          </div>
        </div>

        <div class="relative lg:mt-[339px] text-white mb-[10rem]">
          <div class="mb-[10rem] lg:hidden block">
            <p
              class="lg:justify-center flex mt-[180px] text-[24px] md:text-[38px]"
            >
              Nuestra Formula
            </p>

            <!--responsive -->
            <div class="relative flex flex-col">
              <div class="absolute mt-[0px]">
                <div class="mt-[3.5rem] ml-[30px]">
                  <p
                    data-aos="fade-up"
                    class="text-[12.5px] md:text-[15.5px] flex flex-row relative"
                  >
                    Etapa1
                  </p>
                  <h4
                    data-aos="fade-up"
                    class="text-[12.5px] md:text-[15.5px] mb-[14px] md:mb-[38px] text-[#F2D21C]"
                  >
                    Business Outcome Oriented
                  </h4>

                  <div class="w-[300px] md:w-[80%] h-[292px]">
                    <h4
                      class="text-[14.5px] md:text-[18.5px]"
                      data-aos="fade-up"
                    >
                      Siempre hay una finalidad de negocio, un logro que
                      realizar, un objetivo y resultado que alcanzar:
                    </h4>
                    <ul
                      data-aos="fade-up"
                      class="text-[12.5px] md:text-[15.5px] mt-[15px] md:mt-[30px] ml-[10px]"
                    >
                      <li type="circle">
                        Comprendemos la necesidad o problema que quieres
                        abordar.
                      </li>
                      <li type="circle">
                        Si es necesario, te ayudamos a descubrirlo.
                      </li>
                      <li type="circle">
                        Buscamos cuantificar el resultado esperado, para
                        medirlo.
                      </li>
                      <li type="circle">
                        Diseñamos una versión de la solución en alta fidelidad.
                      </li>
                      <li type="circle">
                        Acordamos cómo deben ser las versiones inicial,
                        intermedias y final.
                      </li>
                      <li type="circle">
                        Alineamos la solución diseñada con el resultado
                        esperado.
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="absolute mt-[1rem] md:mt-[-1rem] ml-[30px]">
                  <p
                    data-aos="fade-up"
                    class="text-[12.5px] md:text-[15.5px] flex flex-row relative"
                  >
                    Etapa2
                  </p>
                  <h4
                    data-aos="fade-up"
                    class="text-[12.5px] md:text-[15.5px] mb-[14px] md:text-[18.5px] md:mb-[38px] text-[#F2D21C]"
                  >
                    Informed Iterative Incremental
                  </h4>

                  <div class="w-[300px] md:w-[100%] h-[292px] mb-[22rem]">
                    <h4
                      data-aos="fade-up"
                      class="text-[14.5px] md:text-[18.5px]"
                    >
                      Logramos resultados rápido, que nos den retroalimentación
                      pronto:
                    </h4>
                    <ul
                      data-aos="fade-up"
                      class="text-[12.5px] mt-[15px] ml-[10px] md:text-[15.5px] md:mt-[30px]"
                    >
                      <li type="circle">
                        Usamos las metodologías, marcos de trabajo y prácticas
                        que la solución requiere.
                      </li>
                      <li type="circle">
                        Reducimos la incertidumbre desde el inicio con nano-labs
                        y nano-PoCs.
                      </li>
                      <li type="circle">
                        Empezamos con un MVP que agregue realmente valor.
                      </li>
                      <li type="circle">
                        Buscamos incrementar rápidamente el aprendizaje de tu
                        negocio.
                      </li>
                      <li type="circle">
                        Usamos talento que despliegue eficacia y velocidad.
                      </li>
                      <li type="circle">
                        Incorporamos oportunamente las capacidades digitales que
                        se requiere.
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="absolute mt-[25rem] md:mt-[23rem] ml-[30px]">
                  <p
                    data-aos="fade-up"
                    class="text-[12.5px] md:text-[15.5px] flex flex-row relative"
                  >
                    Etapa3
                  </p>
                  <h4
                    data-aos="fade-up"
                    class="text-[12.5px] md:text-[15.5px] mb-[14px] md:text-[18.5px] md:mb-[38px] text-[#F2D21C]"
                  >
                    Ready To Scale
                  </h4>

                  <div class="w-[300px] md:w-[100%] h-[292px] mb-[22rem]">
                    <h4
                      data-aos="fade-up"
                      class="text-[14.5px] md:text-[18.5px]"
                    >
                      Estemos listos para crecer en usuarios, operaciones,
                      nuevas funciones o lo que tu negocio necesite:
                    </h4>
                    <ul
                      data-aos="fade-up"
                      class="text-[12.5px] mt-[18px] ml-[10px] md:text-[15.5px] md:mt-[30px]"
                    >
                      <li type="circle">
                        Diseñamos el blueprint de la solución con el crecimiento
                        en mente.
                      </li>
                      <li type="circle">
                        Logramos integración con diferentes ecosistemas
                        tecnológicos.
                      </li>
                      <li type="circle">
                        Incorporamos las características de cybersecurity que se
                        requiera.
                      </li>
                      <li type="circle">
                        Desplegamos soluciones en high availability,
                        resilientes.
                      </li>
                      <li type="circle">
                        Consideramos los requerimientos de regulación y
                        cumplimiento que tu negocio necesita.
                      </li>
                      <li type="circle">
                        Podemos hacer la solución multi-cloud o cloud-agnostic.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div data-aos="fade-down" class="hidden lg:block">
            <p
              class="justify-center flex mt-[339px] 2xl:text-[56px] xl:text-[48px] lg:text-[36px] text-[24px]"
            >
              Nuestra Formula
            </p>
          </div>
          <!--
        <div


          class="flex flex-row justify-center relative h-[86px] 2xl:space-x-[16.5rem] xl:space-x-[12rem] lg:space-x-[12.5rem] mt-[81px] lg:ml-[-110px] xl:ml-[0px] 2xl:ml-[-130px] 3xl:ml-[100px]">



          <div class="text-[12.5px] hidden lg:block ">
            <p data-aos="fade-up" class="flex flex-row justify-center flex relative">Etapa1</p>
            <h4 data-aos="fade-up" class="2xl:text-[20px] xl:text-[18px] text-[#F2D21C] ">Business Outcome Oriented</h4>
          </div>
          <div class="text-[12.5px] hidden lg:block ">
            <p data-aos="fade-up" class="flex flex-row justify-center flex relative">Etapa2</p>
            <h4 data-aos="fade-up" class="2xl:text-[20px xl:text-[18px] text-[#F2D21C]">Business Outcome Oriented</h4>
          </div>
          <div class="text-[12.5px] hidden lg:block ">
            <p data-aos="fade-up" class="flex flex-row justify-center flex relative">Etapa3</p>
            <h4 data-aos="fade-up" class="2xl:text-[20px] xl:text-[18px] text-[#F2D21C]">Business Outcome Oried</h4>
          </div>


        </div>
        -->
          <img
            data-aos="fade"
            class="lg:block hidden 2xl:ml-[50px] xl:ml-[30px] 2xl:w-[1400px] 3xl:ml-[131px] 3xl:w-[1500px] 3xl:h-[220px] mt-[159px]"
            src="assets/img/nuestra-formula-context.png"
            alt=""
          />

          <img
            class="lg:hidden block mt-[-6.5rem] h-[2215]"
            src="assets/img/Group 2560.png"
            alt=""
          />

          <!--No Responsive -->
          <div
            class="flex flex-row justify-center 2xl:space-x-[12rem] xl:space-x-[5rem] lg:space-x-[4rem] mt-[26.3px]"
          >
            <div
              class="hidden lg:block 2xl:w-[345px] xl:w-[325px] lg:w-[265px] bg-[#110D25] mb-[22rem]"
            >
              <h4
                class="2xl:text-[20px] xl:text-[18px] lg:text-[14px]"
                data-aos="fade-up"
              >
                Siempre hay una finalidad de negocio, un logro que realizar, un
                objetivo y resultado que alcanzar:
              </h4>
              <ul
                data-aos="fade-right"
                class="xl:text-[14px] lg:text-[10px] mt-[50px] ml-[20px]"
              >
                <li type="circle">
                  Comprendemos la necesidad o problema que quieres abordar.
                </li>
                <li type="circle">
                  Si es necesario, te ayudamos a descubrirlo.
                </li>
                <li type="circle">
                  Buscamos cuantificar el resultado esperado, para medirlo.
                </li>
                <li type="circle">
                  Diseñamos una versión de la solución en alta fidelidad.
                </li>
                <li type="circle">
                  Acordamos cómo deben ser las versiones inicial, intermedias y
                  final.
                </li>
                <li type="circle">
                  Alineamos la solución diseñada con el resultado esperado.
                </li>
              </ul>
            </div>
            <div
              class="hidden lg:block 2xl:w-[345px] xl:w-[325px] lg:w-[265px]"
            >
              <h4
                class="2xl:text-[20px] xl:text-[18px] lg:text-[14px]"
                data-aos="fade-up"
              >
                Logramos resultados rápidos, que den pronta retroalimentación:
              </h4>
              <ul
                class="xl:text-[14px] lg:text-[10px] mt-[50px] ml-[20px]"
                data-aos="fade-right"
              >
                <li type="circle">
                  Usamos las metodologías, marcos de trabajo y prácticas que la
                  solución requiere.
                </li>
                <li type="circle">
                  Reducimos la incertidumbre desde el inicio con nano-labs y
                  nano-PoCs.
                </li>
                <li type="circle">
                  Empezamos con un MVP que realmente agregue valor.
                </li>
                <li type="circle">
                  Buscamos incrementar rápidamente el aprendizaje de tu negocio.
                </li>
                <li type="circle">
                  Usamos talento que despliegue eficacia y velocidad.
                </li>
                <li type="circle">
                  Incorporamos oportunamente las capacidades digitales que se
                  requiere.
                </li>
              </ul>
            </div>
            <div
              class="hidden lg:block 2xl:w-[345px] xl:w-[325px] lg:w-[265px]"
            >
              <h4
                class="2xl:text-[20px] xl:text-[18px] lg:text-[14px]"
                data-aos="fade-up"
              >
                Estemos listos para crecer en usuarios, operaciones, nuevas
                funciones o lo que tu negocio necesite:
              </h4>
              <ul
                class="xl:text-[14px] lg:text-[10px] mt-[50px] ml-[20px]"
                data-aos="fade-right"
              >
                <li type="circle">
                  Diseñamos el blueprint de la solución con el crecimiento en
                  mente.
                </li>
                <li type="circle">
                  Logramos integración con diferentes ecosistemas tecnológicos.
                </li>
                <li type="circle">
                  Incorporamos las características de cybersecurity que se
                  requiera.
                </li>
                <li type="circle">
                  Desplegamos soluciones en high availability, resilientes.
                </li>
                <li type="circle">
                  Consideramos los requerimientos de regulación y cumplimiento
                  que tu negocio necesita.
                </li>
                <li type="circle">
                  Podemos hacer la solución multi-cloud o cloud-agnostic.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="mt-[201px] px-4" id="servicios">
    <div class="flex flex-col">
      <p
        class="2xl:text-[60px] xl:text-[50px] lg:text-[40px] text-[56px] xl:ml-[131px] lg:ml-[90px]"
        data-aos="fade-right"
      >
        Servicios
      </p>

      <!-- -->

      <div
        class="flex flex-col lg:flex-row justify-center space-y-[3rem] md:space-y-[50px] 2xl:space-x-[4rem] xl:space-x-[2rem] lg:space-x-[2rem] mt-[35px]"
      >
        <!-- -->
        <div
          data-aos="fade-up"
          data-aos-duration="700"
          class="2xl:w-[419px] xl:w-[390px] lg:w-[310px] 2xl:h-[583px] xl:h-[583px] lg:h-[520px] h-[395px] lg:mt-[50px] mt-[50px] shadow-lg shadow-indigo-500/40 rounded-[12px]"
        >
          <div
            class="2xl:w-[331.63px] xl:w-[310px] lg:w-[260px] md:w-[80%] w-[276px] 2xl:h-[309px] h-[220px] xl:h-[230px] lg:h-[200px] 2xl:ml-[42px] ml-[30px] xl:ml-[35px] lg:ml-[25px] lg:mt-[-48px] mt-[28px] mr-[68px]"
          >
            <img
              class="hidden lg:block mt-[2.5rem] 2xl:mt-[4rem]"
              src="assets/img/Digital-Discovery (1).png"
              alt=""
            />
            <img
              class="lg:hidden block"
              src="assets/img/Group 2549.png"
              alt=""
            />
            <p
              class="xl:text-[20px] lg:text-[17px] mt-[1rem] text-[14.5px] md:text-[17.5px]"
            >
              Digital Discovery & Assessment
            </p>

            <p
              class="hidden lg:block xl:text-[14px] lg:text-[12px] text-[12.5px] lg:mt-[1rem]"
            >
              Realizamos sesiones de trabajo en conjunto con el cliente.
              Buscamos lograr una inmersión eficiente en la tecnología vía el
              modelo Digital Mindset Adoption. Evaluamos los casos de uso
              potenciales y los priorizamos de acuerdo a su valor al negocio y
              complejidad. Diseñamos una versión high level de la hoja de ruta
              digital, con la consideración de actividades nuestras y del
              cliente. Incorporamos diversos aspectos para garantizar el éxito
              de la migración: regulación, cumplimiento, seguridad, finanzas, y
              otros más.
            </p>
            <!--Responsive -->
            <p class="lg:hidden block text-[12.5px] md:text-[14px] mt-[13px]">
              Realizamos sesiones de trabajo en conjunto con el cliente.
              Buscamos lograr una inmersión eficiente en la tecnología vía el
              modelo Digital Mindset Adoption. Evaluamos los casos de uso
              potenciales y los priorizamos de acuerdo a su valor al negocio y
              complejidad. Diseñamos una versión high level de la hoja de ruta
              digital, con la consideración de actividades nuestras y del
              cliente. Incorporamos diversos aspectos para garantizar el éxito
              de la migración: regulación, cumplimiento, seguridad, finanzas, y
              otros más.
            </p>
          </div>
        </div>

        <!-- -->
        <div
          data-aos="fade-up"
          data-aos-duration="700"
          class="2xl:w-[419px] xl:w-[390px] lg:w-[310px] xl:h-[589px] lg:h-[520px] h-[415px] shadow-lg shadow-indigo-500/40 rounded-[12px]"
        >
          <div
            class="2xl:w-[317px] xl:w-[315px] lg:w-[260px] w-[276px] md:w-[80%] 2xl:h-[309px] h-[215px] xl:h-[230px] lg:h-[200px] 2xl:ml-[45px] ml-[30px] xl:ml-[35px] lg:ml-[25px] mr-[68px]"
          >
            <img class="hidden lg:block" src="assets/img/Journey.png" alt="" />
            <img
              class="lg:hidden block"
              src="assets/img/Group 2549.png"
              alt=""
            />
            <p
              class="xl:text-[20px] lg:text-[17px] text-[14.5px] mt-[7px] md:text-[17.5px]"
            >
              Journey To XaaS
            </p>
            <p
              class="hidden lg:block xl:text-[14px] lg:text-[12px] text-[12.5px] mt-[7px]"
            >
              Ayudamos a diseñar tu solución cloud. Definimos en conjunto el
              estado final de la infraestructura y arquitectura ya sea on
              premise, hybrid, multi-cloud, cloud-agnostic u otra. Incorporamos
              prácticas de cloud governance, well-architected, cloud economics y
              FinOps requeridas para una operación eficiente y completa, sin
              fisuras. Implementamos el diseño de manera iterativa e
              incremental, con el uso de las mejores prácticas. Realizamos las
              pruebas necesarias, evitamos eventos inesperados. En todo momento
              tienes el control de tus capacidades en nube y sobre todo de los
              costos. Incorporamos las consideraciones de seguridad, regulación
              y cumplimiento.
            </p>
            <!--Responsive -->
            <p
              class="lg:hidden block text-[12.5px] mt-[7px] md:mt-[15px] md:text-[14px]"
            >
              Ayudamos a diseñar tu solución cloud. Definimos en conjunto el
              estado final de la infraestructura y arquitectura ya sea on
              premise, hybrid, multi-cloud, cloud-agnostic u otra. Incorporamos
              prácticas de cloud governance, well-architected, cloud economics y
              FinOps requeridas para una operación eficiente y completa, sin
              fisuras. Implementamos el diseño de manera iterativa e
              incremental, con el uso de las mejores prácticas. Realizamos las
              pruebas necesarias, evitamos eventos inesperados. En todo momento
              tienes el control de tus capacidades en nube y sobre todo de los
              costos. Incorporamos las consideraciones de seguridad, regulación
              y cumplimiento.
            </p>
          </div>
        </div>

        <!-- -->
        <div
          data-aos="fade-up"
          data-aos-duration="700"
          class="2xl:w-[419px] xl:w-[390px] lg:w-[310px] xl:h-[589px] lg:h-[520px] h-[395px] shadow-lg shadow-indigo-500/40 rounded-[12px]"
        >
          <div
            class="2xl:w-[334.6px] xl:w-[320px] lg:w-[260px] md:w-[80%] w-[276px] 2xl:h-[269px] h-[220px] xl:h-[230px] lg:h-[200px] 2xl:ml-[42px] ml-[30px] xl:ml-[35px] lg:ml-[25px] mr-[68px]"
          >
            <img
              class="hidden lg:block"
              src="assets/img/Datagraph.png"
              alt=""
            />
            <img
              class="lg:hidden block"
              src="assets/img/Group 2549.png"
              alt=""
            />
            <p
              class="xl:text-[20px] lg:text-[17px] text-[14.5px] mt-[7px] md:text-[17.5px]"
            >
              Datagraph & Digital Twins
            </p>
            <p
              class="hidden lg:block xl:text-[14px] lg:text-[12px] text-[12.5px] mt-[7px]"
            >
              Identificamos el lugar adecuado de tu ecosistema tecnológico para
              que empieces con tecnología graph. Diseñamos y construimos el
              datagraph para un proceso, área o producto de tu empresa.
              Empezamos en pequeño, pero el crecimiento puede ser muy rápido,
              con la integración con tus fuentes de datos y sistemas
              preexistentes. Incorporamos capacidades analíticas con algoritmos
              estadísticos y machine learning. Buscamos que el datagraph
              produzca valor tempranamente. Incorporamos eventos y alertas al
              datagraph para transformarlo en un Digital Twin.
            </p>
            <!--Responsive -->
            <p
              class="lg:hidden block text-[12.5px] mt-[7px] md:mt-[15px] md:text-[14px]"
            >
              Identificamos el lugar adecuado de tu ecosistema tecnológico para
              que empieces con tecnología graph. Diseñamos y construimos el
              datagraph para un proceso, área o producto de tu empresa.
              Empezamos en pequeño, pero el crecimiento puede ser muy rápido,
              con la integración con tus fuentes de datos y sistemas
              preexistentes. Incorporamos capacidades analíticas con algoritmos
              estadísticos y machine learning. Buscamos que el datagraph
              produzca valor tempranamente. Incorporamos eventos y alertas al
              datagraph para transformarlo en un Digital Twin.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-[5rem]">
      <div
        class="lg:mt-[283px] mt-[25px] 3xl:ml-[40rem] 2xl:ml-[35rem] xl:ml-[20rem] lg:ml-[10rem]"
      >
        <lottie-player
          data-aos="fade-up"
          class="lg:w-[471px] w-[220px] md:w-[320px] md:h-[320px] lg:h-[471px] h-[220px] 3xl:ml-[8rem] 2xl:ml-[8rem] xl:ml-[7rem] lg:ml-[8rem] ml-[70px] md:ml-[30%]"
          src="https://assets2.lottiefiles.com/packages/lf20_05bmkwnh.json"
          background="transparent"
          speed="1"
          loop
          autoplay
        ></lottie-player>
        <h1
          data-aos="fade-up"
          class="xl:w-[788px] lg:w-[588px] md:w-[60%] w-[315px] h-[23px] 2xl:text-[56px] xl:text-[50px] lg:text-[45px] md:text-[34px] text-[24px] md:ml-[10rem] ml-[1rem] lg:ml-[6rem] xl:ml-[2rem] 2xl:ml-[-6rem] 3xl:ml-[2rem]"
        >
          Referencia de la industria
        </h1>
      </div>
      <!--Responsive -->
      <div
        class="mt-[53px] md:mt-[59px] flex lg:flex-row flex-col xl:space-x-[64px] justify-center lg:space-x-[35px] space-y-[21px] "
      >
        <div>
          <div
            class="lg:hidden block h-[25rem] md:h-[20rem] shadow-lg shadow-indigo-500/40 rounded-[12px]"
          >
            <div
              class="w-[277px] md:w-[677px] h-[72px] text-[12.5px] md:text-[15.5px] ml-[30px] mt-[15px]"
            >
              <p data-aos="fade-up" class="lg:hidden block mb-[40px]">
                “No existe una estrategia comercial sin una estrategia en la
                nube. La adopción y el interés en la nube pública continúan sin
                cesar a medida que las organizaciones siguen una política de
                cloud-first para incorporar nuevas cargas de trabajo. La nube ha
                permitido nuevas experiencias digitales, como los sistemas de
                pago móvil, por los cuales los bancos han invertido en startups;
                las empresas de energía, que utilizan la nube para mejorar las
                experiencias minoristas de sus clientes; o las empresas de
                automóviles, que lanzan nuevos servicios de personalización para
                la seguridad y el entretenimiento de los clientes”.
              </p>
              <p data-aos="fade-right" class="text-[14.5px]">
                Milind Govekar, VP,
              </p>
              <p data-aos="fade-right" class="text-[12.5px]">Gartner Group.</p>
            </div>
          </div>
          <!--no responsive -->
          <div
            class="hidden lg:block flex justify-center lg:w-[460px] xl:w-[538px] 2xl:w-[600px] lg:h-[310px] xl:h-[330px] shadow-lg shadow-indigo-500/40 rounded-[12px]"
          >
            <div
              class="2xl:w-[528px] xl:w-[468px] lg:w-[398px] h-[247px] xl:text-[14px] lg:text-[12px] text-[12.5px] ml-10"
            >
              <div class="">
                <p data-aos="fade-up" class="mb-[40px] mt-[18px]">
                  “No existe una estrategia comercial sin una estrategia en la
                  nube. La adopción y el interés en la nube pública continúan
                  sin cesar a medida que las organizaciones siguen una política
                  de cloud-first para incorporar nuevas cargas de trabajo. La
                  nube ha permitido nuevas experiencias digitales, como los
                  sistemas de pago móvil, por los cuales los bancos han
                  invertido en startups; las empresas de energía, que utilizan
                  la nube para mejorar las experiencias minoristas de sus
                  clientes; o las empresas de automóviles, que lanzan nuevos
                  servicios de personalización para la seguridad y el
                  entretenimiento de los clientes”.
                </p>
                <p data-aos="fade-right" class="text-[20px]">
                  Milind Govekar, VP,
                </p>
                <p data-aos="fade-right" class="text-[14px]">Gartner Group.</p>
              </div>
            </div>
          </div>
        </div>
        <!--no responsive -->

        <div
          class="hidden lg:block lg:w-[460px] xl:w-[528px] 2xl:w-[600px] lg:h-[310pxpx] xl:h-[330px] shadow-lg shadow-indigo-500/40 rounded-[12px]"
        >
          <div
            class="2xl:w-[528px] xl:w-[468px] lg:w-[398px] h-[247px] xl:text-[14px] lg:text-[12px] text-[12.5px] ml-10"
          >
            <p data-aos="fade-up" class="mb-[40px]">
              "Los Datagraphs remodelarán la competencia en todos los sectores
              antes de lo que la mayoría espera. Es hora de que todas las
              empresas vayan más allá del uso de datos para mejorar la
              eficiencia operativa y reconozcan la ventaja competitiva de los
              gráficos de datos. Los directores y gerentes deben invertir en
              actualizar su arquitectura de datos para permitir una visión
              completa y en tiempo real de cómo los consumidores interactúan con
              sus productos y servicios. Con esta estructura establecida, los
              líderes pueden desarrollar formas únicas de resolver los problemas
              de los clientes."
            </p>
            <p data-aos="fade-right" class="text-[20px]">Vijay Govindarajan</p>
            <p data-aos="fade-right" class="text-[14px]">
              (Autor de The Three Boxes Solution) y N. Venkat Venkatraman.
            </p>
          </div>
        </div>

        <!--responsive -->
        <div
          class="lg:hidden block h-[27rem] md:h-[22rem] shadow-lg shadow-indigo-500/40 rounded-[12px]"
        >
          <div
            class="w-[277px] md:w-[677px] lg:hidden block mb-[284px] mt-[-3rem] text-[12.5px] md:text-[15.5px] ml-[30px]"
          >
            <p data-aos="fade-up" class="mb-[40px] mt-[5rem]">
              "Los Datagraphs remodelarán la competencia en todos los sectores
              antes de lo que la mayoría espera. Es hora de que todas las
              empresas vayan más allá del uso de datos para mejorar la
              eficiencia operativa y reconozcan la ventaja competitiva de los
              gráficos de datos. Los directores y gerentes deben invertir en
              actualizar su arquitectura de datos para permitir una visión
              completa y en tiempo real de cómo los consumidores interactúan con
              sus productos y servicios. Con esta estructura establecida, los
              líderes pueden desarrollar formas únicas de resolver los problemas
              de los clientes."
            </p>
            <p data-aos="fade-right" class="text-[14.5px]">
              Vijay Govindarajan
            </p>
            <p data-aos="fade-right" class="text-[12.5px]">
              (Autor de The Three Boxes Solution) y N. Venkat Venkatraman.
            </p>
          </div>
        </div>
        <!-- -->
      </div>
    </div>
  </section>

  <app-conversemos></app-conversemos>

  <section class="mt-[92px] hidden lg:block">
    <div
      class="flex flex-row justify-center 3xl:space-x-[22rem] 2xl:space-x-[18rem] xl:space-x-[12rem] lg:space-x-[8rem]"
    >
      <div>
        <p>© 2022 Solucionática. All Rights Reserved.</p>
      </div>
      <div>
        <div
          class="3xl:space-x-[7rem] 2xl:space-x-[7rem] xl:space-x-[4rem] lg:space-x-[1rem] flex flex-row xl:ml-[4rem]"
        >
          <img src="assets/img/Facebook-icons_facebook-fill.png" alt="" />
          <img src="assets/img/IN-icons_linkedin-box-fill.png" alt="" />
          <img src="assets/img/M-design_medium-circle-filled.png" alt="" />
        </div>
      </div>
      <div class="mb-[30px] flex textleft">
        <p>Diseño y desarrollo por</p>
        <a
          href="https://esedor.com/#/"
          target="_blank"
          class="ml-[5px] underline decoration-1"
          >Esedor.com</a
        >
      </div>
    </div>
  </section>

  <!--responsive -->
  <section class="mt-[92px] lg:hidden block flex justify-center">
    <div class="flex flex-col space-y-[92px] justify-center mb-[30px]">
      <div>
        <div class="space-x-[5rem] flex flex-row justify-center">
          <img src="assets/img/Facebook-icons_facebook-fill.png" alt="" />
          <img src="assets/img/IN-icons_linkedin-box-fill.png" alt="" />
          <img src="assets/img/M-design_medium-circle-filled.png" alt="" />
        </div>
      </div>
      <div>
        <p>© 2022 Solucionática. All Rights Reserved.</p>
      </div>

      <div class="mb-[30px] flex textleft">
        <p>Diseño y desarrollo por</p>
        <a
          href="https://esedor.com/#/"
          target="_blank"
          class="ml-[5px] underline decoration-1"
          >Esedor.com</a
        >
      </div>
    </div>
  </section>
</section>
