<div class="flex justify-center place-content-center popplight">
  <div class="2xl:mt-60 xl:mt-14 lg:mt-10 md:mt-80 mt-40">
    <h1 class=" 2xl:text-[56px] xl:text-[43px] lg:text-[37px] md:text-[34px] text-[24px] flex justify-center">Su solicitud ha sido enviada</h1>
    <div class="flex justify-center">
      <p class="2xl:w-[609px] xl:w-[559px] lg:w-[500px] md:w-[480px] w-[300px] h-[100px] 2xl:text-[20px] md:text-[15px] text-[10px] text-center ">
        Nos pondremos en contacto contigo pronto para darte detalles sobre el precio de tu proyecto.</p>
    </div>
    <div class="flex justify-center">
      <button mat-raised-button class="lg:w-[221px] h-[60px] lg:mt-[0px] text-[14.5px] text-white" style="
      background: linear-gradient(
        180deg,
        #082cec 0%,
        rgba(97, 0, 255, 0.6) 100%
      );
      border-radius: 12px;
    " onclick="window.location.href=''">
        IR A SOLUCIONATICA
      </button>

    </div>
    <div class="flex justify-center">

    </div>


  </div>
</div>
